body {
  height: 100vh;
  // background-color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffff;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

/* HEADER */

header {
  position: relative;
  padding: 0 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
