body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 60px;
}

main {
  flex-grow: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffff;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

/* HEADER */

header {
  position: sticky;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

