// hero
.hero {
  height: calc(100vh - 60px);
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("example_hero") left top / cover no-repeat;
}

.hero h1, p {
  color: white;
  z-index: 1;
}

.hero-links {
  display: flex;
  gap: 1.5rem;
}

.hero-container {
  position: relative;
  top: 200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 900;
}

@media(max-width: 576px){
  .hero-container {
    top: 204px;
  }
}

// homepage sections
.homepage-section {
  min-height: calc(100vh - 60px);
}


// services / opening hours grid
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  h4 {
    padding-bottom: 15px;
  }
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
}

.grid-item img {
  max-width: 100%; /* to make the image responsive */
  height: auto;
  max-height: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}

.find-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two columns with equal width */
  gap: 4rem;
}

.find-grid-item {
  padding: 1rem;
}

@media (max-width: 1010px) {
  .find-grid-container {
    display: block; /* change display to block to stack items */
  }

  .map-container {
    width: 100%; /* make the map container take up full width */
    padding-bottom: 0; /* remove padding bottom to maintain aspect ratio */
    height: auto; /* set height to auto to allow content to flow */
  }

  #map {
    margin-bottom: 20px;
  }
}

#address {
  width: 400px !important;
}

// service list
.service-list {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  padding: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: 400px;
  min-width: 400px;
  p {
    color: black;
  }
}

.service-item {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.section {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
