<div class="navibar">
  <div class="logo">
    <a href="/root">Tarun Barber</a>
  </div>
  <ul class="links">
    <li><a href="tarun">Tarun</a></li>
    <li><a href="contact">Contact</a></li>
    <li><button id="action_btn">Book</button></li>
  </ul>
  <div class="toggle_btn">
    <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
  </div>
</div>

<div class="dropdown_menu">
  <li><a href="tarun">Tarun</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="#" id="action_btn">Book</a></li>
</div>

<script>
  const toggleBtn = document.querySelector('.toggle_btn')
  const toggleBtnIcon = document.querySelector('.toggle_btn i')
  const dropDownMenu = document.querySelector('.dropdown_menu')

  toggleBtn.onclick = function () {
    dropDownMenu.classList.toggle('open')
    const isOpen = dropDownMenu.classList.contains('open')

    toggleBtnIcon.classList = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
  }
</script>
