<div class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1>Tarun Barber</h1>
      <p>Your Local Barber</p>
      <div class="hero-links">
        <a href="book">Book</a>
        <a href="services">Services</a>
      </div>
    </div>
  </div>
</div>
<div class="homepage-section-one">
  <div class="section-links">
    <h3>SERVICES</h3>
    <h3>FIND US</h3>
    <h3>GALLERY</h3>
  </div>

  <!-- services -->
<div class="container">
  <div class="grid-container">
    <div class="grid-item">
      <img src="/assets/example_img" alt="" class="services-img">
    </div>
    <div class="grid-item">
      <div class="service-list">
        <h4>Services</h4>
        <div class="service-item">
          <p>Men's Haircut</p>
          <p>£15</p>
        </div>
        <div class="service-item">
          <p>Men's Skin fade</p>
          <p>£17</p>
        </div>
        <div class="service-item">
          <p>Men's Hair & Beard</p>
          <p>£20</p>
        </div>
        <div class="service-item">
          <p>Kid's Haircut (under 12)</p>
          <p>£12</p>
        </div>
        <div class="service-item">
          <p>Senior Haircut (over 65)</p>
          <p>£13</p>
        </div>
        <div class="service-item">
          <p>Special Cut & Beard Oils (1hr)</p>
          <p>£35</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="service-list">
        <h4>Opening Hours</h4>
        <div class="service-item">
          <p>Monday</p>
          <p>10:30am - 6pm</p>
        </div>
        <div class="service-item">
          <p>Tuesday</p>
          <p>Closed</p>
        </div>
        <div class="service-item">
          <p>Wednesday - Friday</p>
          <p>9am - 6pm</p>
        </div>
        <div class="service-item">
          <p>Saturday</p>
          <p>8:30am - 3pm</p>
        </div>
        <div class="service-item">
          <p>Sunday</p>
          <p>Closed</p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <img src="/assets/example_img" alt="" class="services-img">
    </div>
  </div>
</div>
