<!-- hero banner -->
<div class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1>Tarun Barber</h1>
      <p>Your Local Barber</p>
      <div class="hero-links">
        <a href="book">Book</a>
        <a href="services">Services</a>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section" data-controller="showhide">
  <!-- links -->
  <div class="section-links">
    <button data-showhide-target="servicesBtn"
      data-action="click->showhide#displayServices"
      class="selected-link"
      >SERVICES
    </button>
    <button data-showhide-target="hoursBtn"
      data-action="click->showhide#displayHours"
      >OPENING HOURS
    </button>
    <button data-showhide-target="findBtn"
      data-action="click->showhide#displayFind"
      >FIND US
    </button>
    <button data-showhide-target="galleryBtn"
      data-action="click->showhide#displayGallery"
      >GALLERY
    </button>
  </div>

  <!-- services -->
  <div class="section" data-showhide-target="servicesSection">
    <div class="grid-container">
      <div class="grid-item">
        <img src="/assets/example_img" alt="" class="services-img">
      </div>
      <div class="grid-item">
        <div class="service-list">
          <h4>Services</h4>
          <div class="service-item">
            <p>Men's Haircut</p>
            <p>£15</p>
          </div>
          <div class="service-item">
            <p>Men's Skin fade</p>
            <p>£17</p>
          </div>
          <div class="service-item">
            <p>Men's Hair & Beard</p>
            <p>£20</p>
          </div>
          <div class="service-item">
            <p>Kid's Haircut (under 12)</p>
            <p>£12</p>
          </div>
          <div class="service-item">
            <p>Senior Haircut (over 65)</p>
            <p>£13</p>
          </div>
          <div class="service-item">
            <p>Special Cut & Beard Oils (1hr)</p>
            <p>£35</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- opening hours -->
  <div class="section d-none" data-showhide-target="hoursSection">
    <div class="grid-container">
      <div class="grid-item">
        <div class="service-list">
          <h4>Opening Hours</h4>
          <div class="service-item">
            <p>Monday</p>
            <p>10:30am - 6pm</p>
          </div>
          <div class="service-item">
            <p>Tuesday</p>
            <p>Closed</p>
          </div>
          <div class="service-item">
            <p>Wednesday - Friday</p>
            <p>9am - 6pm</p>
          </div>
          <div class="service-item">
            <p>Saturday</p>
            <p>8:30am - 3pm</p>
          </div>
          <div class="service-item">
            <p>Sunday</p>
            <p>Closed</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <img src="/assets/example_img" alt="" class="services-img">
      </div>
    </div>
  </div>

  <!-- find us -->
  <div class="section d-none" data-showhide-target="findusSection">
      <div class="map-container">
        <div
          id="map"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      
    <div class="service-list">
      <h3>Tarun Barber</h3>
      <h4>Address:</h4>
      <p>48 Pyatt Street</p>
      <p>Nottingham</p>
      <p>NG2 2LF</p>
      <a href="https://www.google.com/maps/dir/?api=1&destination=48%20Pyatt%20St%2C%20Nottingham%20NG2%202LF" target="_blank">Directions</a>
      <h4>Email:</h4>
      <p>tarun@tarunbarber.com</p>
    </div>
  </div>

  <!-- gallery -->
  <div class="gallery-section d-none" data-controller="gallery" data-showhide-target="gallerySection">
    <div class="full-img" data-gallery-target="fullImgBox">
      <img src="/assets/barberimg1" alt="" data-gallery-target="fullImg">
      <span data-action="click->gallery#closeFullImg">X</span>
    </div>

    <div class="img-gallery">
      <img src="/assets/barberimg1" alt="" data-action="click->gallery#open" data-src="/assets/barberimg1">
      <img src="/assets/example_img" alt="" data-action="click->gallery#open" data-src="/assets/example_img">
      <img src="/assets/barberimg1" alt="" data-action="click->gallery#open" data-src="/assets/barberimg1">
      <img src="/assets/barberimg1" alt="" data-action="click->gallery#open" data-src="/assets/barberimg1">
      <img src="/assets/barberimg1" alt="" data-action="click->gallery#open" data-src="/assets/barberimg1">
      <img src="/assets/barberimg1" alt="" data-action="click->gallery#open" data-src="/assets/barberimg1">
      <img src="/assets/barberimg1" alt="" data-action="click->gallery#open" data-src="/assets/barberimg1">
      <img src="/assets/barberimg1" alt="" data-action="click->gallery#open" data-src="/assets/barberimg1">
    </div>
  </div>
</div>
